<% if current_user %>

  <%= render 'sidebar', folder: @folder %>

  <main class="main">
    <h1>Edit <%= @folder.name %></h1>

    <%= render 'form', folder: @folder %>
  </main>

<% else %>
  <main class="main">
    <%= render "layouts/signin" %>
  </main>
<% end %>
