<article class="page" itemscope itemtype="https://schema.org/CreativeWork">

  <header class="page__header">
    <h1 class="page__title" itemprop="headline"><%= @article.title %></h1>
    <p class="page__meta">
      <span>Original Link: <%= link_to @article.link, @article.link %></span>
      <span><%= link_to "Delete This Article?", article_path(@article), method: :delete, data: { confirm: "Are you sure you want to permanently delete this article?" }, class: "delete" %></span>
    </p>
  </header>

  <div class="page__content" itemprop="text">
    <%= sanitize @article.body %>
  </div>

</article>
