.navigation {
  width: 100%;
  @include breakpoint(md) {
    display: flex;
  }
  @include breakpoint(lg) {
    width: initial;
  }
}

.menu {
  display: block;
  transition: height .5s ease;
  margin: 0;
  height: 0;
  overflow: hidden;
  @include breakpoint(md) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: inherit;
    overflow: visible;
  }
}

.menu-item {
  display: block;
  position: relative;
  // margin-top: 2.2rem;
  // margin-bottom: 2.2rem;
  margin-bottom: 1.6rem;
  list-style: none;
  @include breakpoint(md) {
    margin-bottom: 0;
  }

  &:first-child {
    padding-top: 2rem;
    @include breakpoint(md) {
      padding-top: 0;
    }
  }

  &:last-child {
    padding-bottom: 2rem;
    @include breakpoint(md) {
      padding-bottom: 0;
    }
  }

  + .menu-item {
    @include breakpoint(md) {
      margin-left: ($spacer * 3);
    }
  }

  // &:last-child {
  //   margin-bottom: ($spacer * 2);
  // }

  a {
    padding: .65rem 0 .5rem;
    text-decoration: none;
    color: $body-text-color;
  }

  > a:hover,
  &.active > a {
    border-bottom: .188rem solid $primary-color;
    text-decoration: none;
    color: $body-text-color;
  }

  &:hover .sub-menu {
    @include breakpoint(md) {
      left: 0;
      opacity: 1;
    }
  }

  &.featured {
    margin-top: 0;
    margin-bottom: 0;

    a {
      display: inline-block;
      border: 0;
      border-radius: .438rem;
      background-color: $primary-color;
      cursor: pointer;
      padding: .692rem 1rem;
      text-align: center;
      text-decoration: none;
      color: #fff;
      font-weight: 700;
      appearance: none;

      &:hover {
        background-color: lighten($primary-color, 7%);
      }

    }

  }

}

.sub-menu {
  @include breakpoint(md) {
    position: absolute;
    left: -9999px;
    opacity: 0;
    z-index: 99;
    margin: 0;
    border-radius: .125rem;
    box-shadow: 0 1rem 2.813rem rgba(0,0,0,.18);
    background-color: $body-text-color;
    padding-left: 0;
    text-align: left;
    white-space: nowrap;
  }

  &.expanded {
    left: 0;
    opacity: 1;
  }

  .menu-item {
    padding: 0;
    @include breakpoint(md) {
      margin-top: 1.1rem;
      margin-bottom: 1.1rem;
    }

    + .menu-item {
      margin-left: 0;
    }

    a {
      @include breakpoint(md) {
        display: inline-block;
        margin: 0;
        width: 100%;
        border-bottom: 0;
        padding: .5rem 1.5rem;
        color: #fff;
      }
    }

    a:hover,
    &.active > a {
      border-bottom: .188rem solid $primary-color;
      text-decoration: none;
      color: $body-text-color;
      @include breakpoint(md) {
        opacity: 1;
        border-bottom: 0;
        color: $primary-color;
      }
    }

  }

}


// Responsive Menu
.responsive-menu-icon {
  display: flex;
  align-items: center;
  align-self: center;
  font-size: .8rem;
  @include breakpoint(md) {
    display: none;
  }

  &::after {
    display: inline-block;
    margin: 0 0 0 .625rem;
    width: 1rem;
    border-top: .438rem double;
    border-bottom: .125rem solid;
    border-top-width: .563rem;
    border-bottom-width: .188rem;
    padding-bottom: .188rem;
    content: '';
  }
}

.sub-menu-toggle {
  display: none;
  visibility: hidden;
  @include breakpoint(md) {
    display: inline-flex;
    visibility: visible;
    margin-right: .7rem;
    width: 1rem;
    border: 0;
    background: transparent;
    padding: 0;
    vertical-align: middle;
    color: $body-text-color;
  }

  &:hover {
    box-shadow: unset;
    background-color: transparent;
    color: $body-text-color;
  }

  svg {
    transform: rotate(0deg);
    transition: transform .2s ease-in-out;
    width: 1rem;
  }

  &.expanded svg {
    transform: rotate(180deg);
  }


}
