.sidebar {

  // ul {
  //   list-style-position: inside;
  // }
  //
  // li {
  //   margin-bottom: ($spacer / 2);
  //   border-bottom: .05rem dotted #ddd;
  //   padding-bottom: ($spacer / 2);
  // }
  //
  // p:last-child,
  // ul > li:last-child {
  //   margin-bottom: 0;
  // }
  //
  // .widget {
  //   margin-bottom: ($spacer * 2);
  //   background-color: #fff;
  // }

  nav a {
    display: flex;
    align-items: center;
    margin-bottom: ($spacer / 2);
    padding: .313rem 1rem;
    text-decoration: none;
    color: $body-text-color;
    font-weight: bold;

    &:hover,
    &.active {
      border-radius: 4px;
      background-color: rgba(36, 45, 66, .16);
    }

    svg {
      display: inline-block;
      margin-right: .6rem;
      width: .8rem;
      height: .8rem;
    }

  }

}
