%wrap {
  position: relative;
  width: 100%;
  max-width: 40rem;
  padding: 0 1rem;
  @include breakpoint(lg) {
    max-width: 48rem;
  }
  @include breakpoint(xl) {
    max-width: 57rem;
  }
  @include breakpoint(xxl) {
    max-width: 64rem;
  }
}

.site-inner {
  @extend %row; // in utilities.scss
  @extend %wrap; // in structure.scss (above)
  position: relative;
  flex: 1 0 auto;
  justify-content: center;
  margin: 0 auto;
  padding: 2.5rem $spacer;

  .sidebar-content & {
    justify-content: space-between;
  }

}

.main {
  display: block; // Fixes IE bug on `main` element
  position: relative;
  width: 100%;
  max-width: 100%;
  @include breakpoint(lg) {
    flex: 0 0 30rem;
    max-width: 30rem;
  }
  @include breakpoint(xl) {
    flex: 0 0 42rem;
    max-width: 42rem;
  }
  @include breakpoint(xxl) {
    flex: 0 0 51rem;
    max-width: 51rem;
  }

  .sidebar-content & {
    border: 0;
    background-color: transparent;
    padding: 0;
  }

}

.sidebar {
  position: relative;
  order: 2;
  width: 100%;
  max-width: 100%;
  @include breakpoint(lg) {
    flex: 0 0 9rem;
    order: 0;
    max-width: 9rem;
  }
  // @include breakpoint(xxl) {
  //   flex: 0 0 17rem;
  //   max-width: 17rem;
  // }
}
