%row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row {
  @extend %row; // in utilities.scss (above)
}

.one-half {
  position: relative;
  width: 100%;
  @include breakpoint(md) {
    flex: 0 0 calc((100% - 1rem) / 2);
    max-width: calc((100% - 1rem) / 2);
  }
}

.one-third {
  position: relative;
  width: 100%;
  @include breakpoint(md) {
    flex: 0 0 calc((100% - 2rem) / 3);
    max-width: calc((100% - 2rem) / 3);
  }
}

.one-fourth {
  position: relative;
  width: 100%;
  @include breakpoint(md) {
    flex: 0 0 calc((100% - 1rem) / 2);
    max-width: calc((100% - 1rem) / 2);
  }
  @include breakpoint(lg) {
    flex: 0 0 calc((100% - 3rem) / 4);
    max-width: calc((100% - 3rem) / 4);
  }
}

.d-block {
  display: block !important;
}

.d-none {
  display: none !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: $spacer !important;
}

.mb-2 {
  margin-bottom: ($spacer * 2) !important;
}

.text-bold  {
  font-weight: bold !important;
}

.text-center {
  text-align: center !important;
}
