h1 {

  .main & {
    margin-top: 0;

    a {
      display: inline-flex;
      margin-left: $spacer;
      text-decoration: none;
    }

    svg {
      width: 1rem;
      height: 1rem;

      &:hover {
        color: lighten($body-text-color, 7%);
      }

    }

  }

}
