<p>Hello <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Portholes.app is notifying you that your email is being changed to <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Portholes.app is notifying you that your email has been changed to <%= @resource.email %>.</p>
<% end %>
